@import 'stylesheets/reset.css';
@font-face {
  font-family: "tesseract";
  src: url("../fonts/tesseract.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  }
  p, h1, h2, h3 {font-family: "tesseract";
  margin: 0;
  padding: 0;}
  body {
    width: 1280px;
    margin: 0 auto;
    background: white;
    /* height: 6519px; */
    display: block;
    position: relative;
  }
  body::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    height: 100%;
    display: block;
    opacity: .2;
  }
  .oblozhka{
    height: 739px;
    width: 100%;
    /* background: black; */
    display: flex;

  }
  .oblozhka1{
    margin-left: 80px;
    margin-top: 380px;
    width: 728px;
    height: 739px;
    display: inline-block;
  }
  .oblozhka1 h2{
    margin-top: 65px;
  }

  h1{font-size: 72px; line-height: 89px;}
  h2{font-size: 48px;
  margin-top: 146px;}
  h3{font-size: 36px; line-height: 44px;
  margin-top: 45px;}
  p{font-size: 22px; line-height: 27px;
  margin-top: 52px;}



  .oblozhka2{
    margin-right: 80px;
    margin-top: 188px;
    display: inline-block;
    width: 380px;
    height: 739px;

  }
  section{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
  }
  .one1{
    display: inline-block;
  }
  .one2{
    width: 726px;
    display: inline-block;
    right: 0;
    padding-top: 120px;
    padding-left: 155px;
  }
  .one2 h3{line-height: 60px;}
  .one2 p{margin-top: 25px;}
  .one2 img{
    position: absolute;
    left: 919px;
    top: 1147px;
  }
  .two2{
    width: 726px;
    display: inline-block;
    right: 0;
    padding-top: 116px;
  }
  .two2 img{
    position: absolute;
    left: 490px;
    top: 1768px;
  }
  .two2 h3{line-height: 60px;}
  .two2 p{margin-top: 30px;}
  .two3{width: 254px;}

  .three2{
    width: 726px;
    display: inline-block;
    right: 0;
    padding-top: 116px;
    padding-left: 80px;
  }
  .three2 img{
    position: absolute;
    left: 919px;
    top: 2417px;
  }
  .three2 h3{line-height: 60px;}
  .three2 p{margin-top: 30px;}
  .three3{width: 400px;}

  .number{font-size: 36px;}

  .four2{
    display: inline-block;
    /* padding-top: 100px; */
    padding-left: 80px;
  }
  .four2 p{width: 770px;}
  .four2 h3{line-height: 60px;}
  .four2 img{
    position: absolute;
    left: 919px;
    top: 2953px;
    }
    .five2{
      display: inline-block;
      padding-top: 28px;
      padding-left: 80px;
    }
    .five2 p{width: 770px;}
    .five2 h3{line-height: 60px;}
    .five2 img{
      position: absolute;
      left: 919px;
      top: 3291px;
    }
    .six2{
      display: inline-block;
      padding-top: 40px;
      padding-left: 80px;
    }
    .six2 p{width: 770px;}
    .six2 h3{line-height: 60px;}
    .six2 img{
      position: absolute;
      left: 919px;
      top: 3629px;
    }
    .seven2{
      display: inline-block;
      /* padding-top: 100px; */
    }
    .seven2 p{width: 726px;}
    .seven2 h3{line-height: 60px;}

    .table1{
      text-align: center;
      font-size: 22px;
    }
    .table1 td{
      width: 180px;
    }
    .eight2{
      display: inline-block;
      padding-top: 100px;
      padding-left: 110px;
    }
    .eight2 p{width: 726px;}
    .eight2 h3{line-height: 60px;}

    .nine2{
      display: inline-block;
      padding-top: 80px;
    }
    .nine2 p{width: 700px;
      margin-bottom: 48px;
      margin-right: 42px;
    }
    .nine2 h3{line-height: 60px;}

    .futter{
      /* position: absolute; */
      padding-top: 36px;

    }
    .futter p{
      width: 200px;
      padding-left: 768px;

    }
    .futter h3{
      width: 840px;
      padding-left: 80px;
    }
    /* .futter img{
      position: absolute;
      margin-top: 50px;
    } */
    .futter2{
      position: absolute;
      width: 100%;
      height: 64px;
      bottom: 0;
      background: white;
      border-top:2px solid black;
      top: 6472px;
    }
    .f1{
      padding-left: 80px;
      position: absolute;
      margin-top: 20px;
    }
    .f2{
      position: absolute;
      padding-left: 920px;
      margin-top: 20px;
    }
    .table2{
      position: absolute;
      margin-left: 528px;
      bottom: 4px;
      text-align: center;

    }
    .table2 td{
      width: 50px;
    }
    table {
      margin-top: 40px;
    }
    .oblozhka img{
      position: absolute;
    }
